.container-6{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: space-between;
}

.product{
    max-width: 100%;
    text-align: left;
    color:dimgrey;
}
.prize {
    display: flex;
    align-items: center;
    color: #33383b;
}
h3{
    font-size: 14px;
    text-align: left;
    margin-top:5px;

}
p{
    color: #33383b;
    font-family: bold; /*de pus un font aici*/
}


form{
    display: flex;
    flex-direction: row;
}

/*.search-field {*/
/*    width: 50%;*/
/*    padding: 10px 35px 10px 15px;*/
/*    outline: none;*/
/*}*/
/*.search-button{*/
/*    border: none;*/
/*    outline: none;*/
/*    margin-left: -33px;*/
/*    background-color: white;*/
/*}*/
/*.search-button img{*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    object-fit: cover;*/
/*    background-color: white;*/
/*    cursor: pointer;*/
/*}*/

@media screen and (min-width: 480px) and (max-width: 767px) {
    .container-6 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container-6 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .container-6 {
        grid-template-columns: repeat(3, 25%);
    }
}


.float-container {
    border: 3px solid #fff;
    padding: 40px;
    width: 100%;
    height: 100%;
    margin: auto;
}

.float-child1 {
    width: 30%;
    float: left;
    padding: 20px 50px 20px 80px;
    border: 2px solid red;
}

.float-child2 {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}
