
.navbar{
    background-color: #F2EFEE;
    border-top: 5px solid black;
    width: 100%;
    overflow: hidden;


}

.brand{
    position: absolute;
    left: 48.5%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 900;
    font-size: 30px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.brand:hover {
    box-shadow: inset 300px 0 0 0 #292c2f;
    color: white;
}


.products{
    display: flex;
    align-items: center;
    color: black;
    font-weight: bold;
}

.products a{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: black;
    padding: 1rem;
}

.wish{
    color: black;
    text-decoration: none;
    list-style: none;
    margin-right: 20px;
    font-weight: bold;
}

.wish:hover{
    color:grey;
}
.products a:hover{
    color:grey;
}