.imaginii {
    text-align: center;
}

.imaginii img {
    width: auto;
    max-width: 100%;
    height: 200px;
}

.title .price {
    display: flex;
    align-items: center;
}

.addToWish{
    color:darkblue;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.addToWish:hover{
    color:blue;
}

.theSameLine{
    display: flex;
    justify-content: space-between;
    text-align: center;
}