.footer{
    background-color: #292c2f;
}
a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    color: white;
    background-color: #33383b;
}

.companyName{
    color: white;
}

/*a.social:hover {*/
/*    transform: translateY(-2px);*/
/*}*/