.back{
    width: 100%;
    height: 400px;
    align-content: center;
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;

}

.a-text{
    font-size: 8px;
    display: flex;
    color: #33383b;
    font-weight: bold;
    gap:3px;
    margin-top: -20px;
    margin-left: 20px;

}

.a-text a{
    color: #33383b;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    text-align: center;
}

.imagesTable{
    width: 50px;

}

.container-13{
    max-width: 1000px;
}

.buttonDelete{
    background-color: orangered;
    color: white;
    width: 7em;
    border: none;
}

.tabletable{
    align-content: center;
    margin-top: 30px;
}