.container-3{
    width: auto;
    text-align: center;
    margin-right: 180px;
    margin-left: 160px;
}
.smaller {
    align-items: center;
    width: auto;
    font-size: 15px;
    font-family: "Agency FB";
    color: grey;
    margin-top: -20px;
    margin-bottom: 30px;
}
.divider {
    display: flex;
}

.divider:before,
.divider:after {
    content: "";
    flex: 1;
}

.line {
    align-items: center;
    margin: 1em -1em;
}

.line:before,
.line:after {
    height: 1px;
    margin: 0 1em;
}

.one-line:before,
.one-line:after {
    background: grey;
}

.one-line{
    font-family: "Book Antiqua";
    color: grey;
    font-size: 30px;
}