.container{
    width: 700px;
    float: left;
}
p{
    color: dimgrey;
    font-family: Corbel;
}
h1{
    font-family: Corbel;
    font-weight: bold;
    color: #292c2f;

}

.info{
    padding: 30px;
    margin-left: 140px;
    margin-top: 80px;

}

.button{
    margin-top: 15px;
    background-color: transparent;
    color: #292c2f;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}
